@page "/music"
@using EpzNotDead.Client.Pages.Components
@using EpzNotDead.Client.Pages.Components.Bases
@inherits MusicBase

<PageTitle>News</PageTitle>

<h1>Muzyka</h1>

<p>Artykuły, sety, video muzyczne</p>

@if (Posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach(var item in Posts)
    {
        <Lead Article="@item" />
    }
}

@code {
}
