@using EpzNotDead.Client.Pages.Components.Bases
@inherits FooterBase

<small>
@if (Edited is not null)
    {
    <code>Wrzucone: @Edited?.ToString("yyyy-MM-dd_hh:mm")</code>
}
else
{
    <code>Wrzucone: @Created.ToString("yyyy-MM-dd_hh:mm")</code>
}
&nbsp;<button class="btn-ghost" @onclick="() => (ScoreUp(Id))">+@Score</button>
</small>

@code {
    
}
